body{
	margin:0px;
	padding: 0px;
}
.top-bar{
	height: 54px;
	border: 1px solid #F0F0F0;
	margin: 0px;
}
.logo{
	height: 54px;
	width: 207px;
	float: left;
	margin: 0px;

}
.logo img{
	height: 26px;
	width: 55px;
	margin-top: 13px;
	margin-left: 19px
}
.center-content{
	height: 54px;
	width: 945px;
	float: left;
	margin: 0px;

}
.a1{
	text-decoration: none;
	color: #ea6F5a;
	font-size: 18px;
	line-height: 54px;
}
.a2{
	text-decoration: none;
	color: black;
	font-size: 18px;
	margin-left: 35px;
}
.find{
	height: 30px;
	width: 200px;
	margin-left: 35px;
	background-color: #EEEEEE;
	color: #A5A5A5;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
.font{
	color: #A5A5A5;
	font-size: 20px;
	margin-left: 410px;
	font-weight: bold;
}
.a3{
	color: #A5A5A5;
	font-size: 15px;
	margin-left: 25px;
	text-decoration: none;
	font-weight: bold;

}
.button-container{
	float: left;
	margin-top: 7px;
	width: 200px;
	height: 54px;
	margin: 0px;

}
.register{
	border: 1px solid #ea6F5a;
	height: 38px;
	width: 80px;
	line-height: 38px;
	
	text-align: center;
	border-radius: 5px;
	
}
.a4{
	background-color: white;
	border: 1px solid #ea6F5a;
	height: 39px;
	width: 81px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none;
	color: #ea6F5a;
	font-weight: bold;
	margin-left: 0px;
}
.a4:hover{
	background-color: #FEF7F6;

}
.a5{
	background-color: #ea6F5a;
	border: 1px solid #ea6F5a;
	height: 39px;
	width: 100px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	margin-left: 0px
}
.text-center{
	width: 945px;
	height: 273px;
	margin: 0 auto;
	padding: 0px;

}
.main-picture{
	width: 630px;
	height: 273px;
	display: block;
	float: left;
}
.small-picture{
	width: 315px;
	height: 123px;
	display: block;
	float: left;
}
.small-picture1{
	width: 315px;
	height: 150px;
	display: block;
	float: left;
}

