body{
	margin: 0px;
	padding: 0px;
}
	


#picture{
	width: 947px;
	height: 273px;
	margin: 0px auto;
	padding-top: 57px;
}
.pict-left img{
	float: left;
	width: 631px;
}
.pict-right-top img{
	float: right;
	width: 316px;
	height: 136px;
}
.pict-right-bottom img{
	float: right;
	width: 316px;
	height: 137px;
}



.top{
	width: 100%;
	height: 56px;
	border: 1px solid #f0f0f0;
	position: fixed;
	z-index: 1;
	background-color: white;

}
.logo{
	padding: 14px 25px 15px 20px;
	float: left;
	
	
}
.logo img{
	width: 55px;
	height: 26px;
	outline: none;
}
.top-center{
	width: 1150px;
	height: 58px;
	float: right;


}
.top-center ul{
	width: 362px;
	height: 58px;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.active{
	width: 34px;
	height: 19px;
	padding: 19.5px 15px;
	display: block;
	float: left;

}
.home-page{
	text-decoration: none;
	color: rgb(234, 111, 90);
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 17px;

}
.download{
	width: 70px;
	height: 19px;
	float: left;
	padding: 19.5px 15px;
	margin-left: 10px;
	
}
.app{
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    color: black;
    font-size: 17px;
    text-decoration: none;
}
.download:hover{
	background-color: #F5F5F5;
}
.import{
	width: 175px;
	height: 58px;
	float: left;
	margin-left: 10px;
	line-height: 58px;
}
.find{
	width: 140px;
	height: 35px;
	background-color: #EEEEEE;
	border-style: none;
	border-radius: 17.5px; 
	-webkit-border-radius:17.5px;
	-moz-border-radius:17.5px;
	font-size: 16px;
	outline: none;
	padding-left: 15px;

}
.find::-webkit-input-placeholder {
	color: #A5A5A5;
	font-size: 16px;
}
.find::-moz-placeholder {
	color: #A5A5A5;
	font-size: 16px;
}
.font{
	width: 24px;
	height: 24px;
	float: right;
	margin-right: 15px;
	padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 17px;
    cursor: pointer;
}
.font span{
	
	font-size: 20px;
	color: rgb(150,150,150);
	font-weight: bolder;
	
}
.log-in{
	padding: 6px 12px;
	width: 50px;
	height: 34px;
	float: right;
	margin-right: 10px;
	
}
.log-in a{
	text-decoration: none;
}
.log-in span{
	color:rgb(150,150,150);
	font-size: 16px;
	line-height: 50px;
	font-weight: bolder;
	
}
.write{
	float: right;
	width: 100px;
	height: 58px;
	margin-right:20px;
	margin-left: 20px; 
	
}
.write-passage{
	width: 100px;
	height: 38px;
	background-color: rgb(236, 97, 73);
	border-style: none;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	margin-top: 8px;
	
	cursor: pointer;
	outline: none;
	font-family:-apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.register{
	float: right;
	
	width: 80px;
	height: 58x;
}
.zhuce{
	width: 80px;
	height: 38px;
	border: 1px solid rgb(236, 97, 73);
	background-color: white;
	color: rgb(236, 97, 73);
	font-size: 15px;
	margin-top: 8px;
	border-radius: 3px;
	cursor: pointer;
	font-family:-apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.zhuce:hover{
	background-color: #FEF7F6;
}

.recommend-collection{
	width: 625px;
	height: 104px;
	margin-left: 200px;
	position:relative;
	top: 57px;
}
.recommend-collection a{
	text-decoration: none;
	
	
}
.first{
	width: 110px;
	height: 32px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
	background-color: #F7F7F7;
	margin-right: 18px;
	margin-bottom: 18px;
	overflow: hidden;
	display: inline-block;
}
.first img{
	width: 32px;
}
.first div{
	font-size: 14px;
	color: black;
	font-family:-apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	
	line-height: 32px;
	float: right;
	padding:0px 7px;
	
}
.second{
	width: 130px;
	height: 32px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
	background-color: #F7F7F7;
	margin-right: 18px;
	margin-bottom: 18px;
	overflow: hidden;
	display: inline-block;
}	
.second img{
	width: 32px;
}
.second div{
	font-size: 14px;
	color: black;
	font-family:-apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	
	line-height: 32px;
	float: right;
	padding:0px 7px;
	
}
.third{
	width: 70px;
	height: 32px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
	background-color: #F7F7F7;
	margin-right: 18px;
	margin-bottom: 18px;
	overflow: hidden;
	display: inline-block;
}	
.third img{
	width: 32px;
	margin: 0px;
}
.third div{
	font-size: 14px;
	color: black;
	font-family:-apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	
	line-height: 32px;
	float: right;
	padding:0px 8px;
	
}
.more{
	width: 97px;
	height: 19px;
	font-size: 14px;
	color: #787878;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	display: block;
	position: absolute;
	top: 65px;
	left: 420px;
}
.title-bar{
	width: 280px;
	height:838px;
	position: absolute;
	top: 332px;
	left: 870px;
	margin-top: 40px;
}
.bar{
	width: 280px;
	height: 50px;
	margin-bottom: 5px;
}
.title-bar-download{
	width: 280px;
	height: 140px;
}
.last{
	width: 280px;
	height: 140px;
}
.scan-code{
	width: 77px;
	height: 37px;
	background-color: #A5A5A5;
	border-radius: 5px;
	position: relative;
	top: -53px;
	left: 10px;
}
.scan-code span{
	color: white;
	font-family:  -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	width: 100%;
	display: inline-block;
	cursor: pointer;

}
.android-download{
	width: 77px;
	height: 37px;
	background-color: rgb(139,196,83);
	border-radius: 5px;
	position: relative;
	top: -90px;
	left: 100px;
}
.android-download span{
	color: white;
	font-family:  -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	width: 100%;
	display: inline-block;
	cursor: pointer;

}
.ios-download{
	width: 77px;
	height: 37px;
	background-color: #6DACF4;
	border-radius: 5px;
	position: relative;
	left: 190px;
	top: -127px;
}
.ios-download span{
	color: white;
	font-family:  -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
	line-height: 37px;
	text-align: center;
	width: 100%;
	display: inline-block;
	cursor: pointer;

}
.recommend{
	width: 280px;
	height: 329px;
	position: relative;
	top: 30px;
}
.recommend-title{
	width: 280px;
	height: 18px;
}
.recommend-title span{
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	color: rgb(150, 150, 150);
	font-size: 14px;
}
.reload{
	width: 86px;
	height: 18px;
	float: right;
}
.page-count{
	color: rgb(150, 150, 150);
	font-size: 14px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	display: inline-block;
}
.page-change{
	width: 40px;
	height: 18px;
	border-radius: 3px;
	border:1px solid rgb(150, 150, 150);
	float: right;
}
.list{
	width: 280px;
	height: 295px;
	padding:0px;
	direction: none;
	list-style: none;
}
.list li{
	width: 280px;
	height: 47px;
}
.list-picture{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid rgb(221, 221, 221);
	display: inline;
	float: left;
}
.list-name{
	direction: none;
	color: rgb(51, 51, 51);
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	float: left;
	position: relative;
	top: 6px;
	left: 10px;
}
.list-detail{
	font-size: 12px;
	color: rgb(150, 150, 150);
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	width: 280px;
	height: 20px;
	float: left;
	position: relative;
	top: -19px;
	left: 58px;
	margin: 0px;

}
.list-follow{
	text-decoration: none;
	color: rgb(66, 192, 46);
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 12px;
	float: right;
	position: relative;
	left: -56px;
	top: -21px;
	
	
}
.look-more{
	width: 280px;
	height: 35px;
	border: 1px solid  #dcdcdc;
	background-color: #f7f7f7;
	color: rgb(120, 120, 120);
	text-decoration: none;
	border-radius: 3px;
	font-size: 14px;
	padding: 7px 107px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.passage{
	width: 625px;
	height: 200px;
	border-top: solid 1px #F0F0F0;
	position: relative;
	left: 200px;
	top: 80px;
	padding-top: 5px;
}
.passage-text{
	width: 70%;
	height: 200px;
	float: left;
}

.headshot{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	top: 10px;
	cursor: pointer;
}
.name{
	font-size: 12px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	cursor: pointer;
}
.time{
	font-size: 12px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	color: #969696;
}
.passage-title {
	font-weight: bold;
	font-family: -apple-system, 'SF UI Display', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	cursor: pointer;
	margin-bottom: 0px;
}
.passage-title:hover{
	text-decoration: underline;
}
.passage-content{
	font-size: 14px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	margin: 7px 0px;
	line-height: 24px;
	color: #333333;
}
.passage-buttom button{
	outline: none;
	border: 1px solid rgb(236, 97, 73);
	background-color: white;
	color: rgb(236, 97, 73);
	border-radius: 3px;
	cursor: pointer;
	direction: none;
}
.passage-buttom a{
	text-decoration: none;
}
.passage-buttom button:hover{
	background-color: #FEF7F6;
}
.through{
	display: inline-block;
	position: relative;
	left: 6px;
	top: 3px;
	width: 48px;
	height: 15px;
	background-image: url('../img/yanjingqian.jpg');
	cursor: pointer;
}
.through:hover{
	display: inline-block;
	position: relative;
	left: 6px;
	top: 3px;
	width: 48px;
	height: 15px;
	background-image: url('../img/yanjingjiashen.jpg');
	cursor: pointer;
}
.talk{
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	width: 40px;
	height: 15px;
	background-image: url('../img/duihuaqian.jpg');
	cursor: pointer;
}
.talk:hover{
	display: inline-block;
	position: relative;
	left: 10px;
	top: 3px;
	width: 40px;
	height: 15px;
	background-image: url('../img/duihuajiashen.jpg');
	cursor: pointer;
}
.zan{
	display: inline-block;
	position: relative;
	left: 13px;
	top: 3px;
	width: 40px;
	height: 15px;
	background-image: url('../img/20170627215445.jpg');
	
}
.givemoney{
	display: inline-block;
	position: relative;
	left: 16px;
	top: 3px;
	width: 30px;
	height: 15px;
	background-image: url('../img/20170627215503.jpg');
}

.passage-picture{
	width: 30%;
	height: 200px;
	float: right;

}
.passage-picture img{
	width: 150px;
	height: 120px;
	border-radius: 3px;
	position: relative;
	left: 35px;
	top: 40px;
	cursor: pointer;

}
.side-tool{
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 52px;
	height: 52px;
	border: 1px solid #dcdcdc;
	color: gray;
	font-size: 10px;
	line-height: 52px;
	text-align: center;

}

@media screen and (max-width: 1188px){
	
	#picture{
		width: 735px;
		height: 212px;
		margin:0px auto;
	}
	.pict-left img{
		width: 490px;
		height: 212px;
		float: left;
		
	}
	.pict-right-top img{
		width: 245px;
		height: 106px;
		float: right;
	}
	.pict-right-bottom img{
		width: 245px;
		height: 106px;
		float: right;
	}
}
