body{
	margin: 0px;
	padding: 0px;
}
.top{
	width: 100%;
	height: 56px;
	border: 1px solid #f0f0f0;
}
.logo{
	padding: 14px 25px 15px 20px;
	float: left;
	
}
.logo img{
	width: 55px;
	height: 26px;
}
.top-center{
	width: 945px;
	height: 58px;
	float: left;
	margin-left: 95px;

}
.top-center ul{
	width: 362px;
	height: 58px;
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
.active{
	width: 34px;
	height: 26px;
	padding: 15px;
	direction: none;
}

.menu-text{
	height: 26px;
	width: 34px;
	font-size: 17px;
	font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	color: rgb(234, 111, 90);
	display: line;
	direction: none;
}

